ul {
  list-style-type: none;
}

li {
  padding-bottom: 1em;
}

.question-checkbox {
  height: 1.5em;
  width: 1.5em;
}

.question-image {
  width: 13.5em;
  height: 12.5em;
}

@media screen and (min-width: 600px) and (max-width: 959px){

  .question-image {
    margin-top: 20px;
  }
}